/* Space out content a bit */
* {
  box-sizing: border-box;
}
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Roboto,sans-serif;
  /*background: #f1f1f1;*/
}
a:hover {
  text-decoration: none;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  .event {
    height: 300px;
  }
  .event-wrapper {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 768px) {
  .event {
    height: 200px;
  }
}

/*---Event---------*/
.event {
  text-align: left;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  width:100%;
  background-position: center;
  background-size: cover;
/*  border-radius: 3px;*/
}

.date-label {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    background-color:  #2e82e2;
    color: #fff;
    min-width: 80px;
    padding: 8px 12px 8px 10px;
    font-size: 12px;
    text-align: center;
    border-radius:  40px 40px ;

    font-weight: 500;
    text-transform: uppercase;
}
.price-label {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    background-color:#dc4e41;
    color: #fff;
    min-width: 70px;
    padding: 8px 10px 8px 10px;
    font-size: 14px;
    text-align: center;
    border-radius:  40px 40px ;
    font-weight: 500;
}
.content {
    position: relative;
    z-index: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 20px;
    color: #fff;
}
.event_title {
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    max-height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color:  #fff;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
  .event_text {
    overflow: hidden;
    line-height: 18px;
    word-wrap: break-word;
    font-size: 12px;
    color: rgba(255,255,255,.6);
}
/*---------Event Detail--------------*/
.date-and-price {
  position: relative;
}
/*-----About------------------*/
.doc-section {
  margin-bottom: 20px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
